DB_NAME=test_db
DB_PASS=sankar
DB_USERNAME=postgres
JWT_SECRET=randomsupersecert
APP_PASSWORD=pmclysemcxzwbrli
FRONTRND_URL=http://localhost:5173/auth/register/complete?token=
REDIS_APIKEY=A60l9w1b70g4nuqi0g91oc9x1h0obkgicuhrg5xg1bxqsxwp8qs
RAZORPAY_TEST_APIKEY=rzp_test_Sae6YTh6uYqdpV
RAZORPAY_TEST_APISECRET=QDkAWmXhGQdEbA9Iy4Nv0T4f

RAZORPAY_WEBHOOK_SECRET=supersecretstring

RAZORPAYX_TEST_APIKEY=rzp_test_SbNPI4Xc0emkLD
RAZORPAYX_TEST_APISECRET=VeQEw16Ya3K6eewSkWuCdJOD