DB_NAME=
DB_PASS=
DB_USERNAME=
JWT_SECRET=

APP_PASSWORD=
GOOGLE_MAIL=

FRONTEND_URL=

RAZORPAY_TEST_APIKEY=
RAZORPAY_TEST_APISECRET=
RAZORPAY_WEBHOOK_SECRET=

RAZORPAY_PAYOUT_TEST_APIKEY=
RAZORPAY_PAYOUT_TEST_APISECRET=


ADMIN_EMAIL=
ADMIN_PASSWORD=