DB_NAME=test_db
DB_PASS=sankar
JWT_SECRET=randomsupersecert
APP_PASSWORD=pmclysemcxzwbrli
FRONTRND_URL=http://localhost:5173/auth/register/complete?token=
REDIS_APIKEY=A60l9w1b70g4nuqi0g91oc9x1h0obkgicuhrg5xg1bxqsxwp8qs